.Counter{
    border: 1px solid black;
    margin: 10px 20px;
    padding: 20px 0px;
}
.Counter p{
    font-size: 22px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Counter button{
    padding: 7px 15px;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 17px;
}
.Counter button:hover{
    background-color: #21d347;
}